tbody {
   /* max-height: 400px !important; */
   border-color: black !important;
   /* overflow-y: auto !important;  */
}

.scrolleable {
    height: 300px !important;
    overflow-y: auto !important; 
}

.table {
    margin-bottom: 0% !important;
}

.prod-to-add input{
    padding: 0rem !important;
}

#totalPrice {
    background-color: var(--bs-table-bg);
}

#totalPrice th {
    display: inline !important;
}

#addSale {
    background-color: #F988D9 !important;
}

#addSale:hover {
    background-color: #FFADE8 !important;
}

#addBudget {
    background-color: #9C8CFF !important;
}

#addBudget:hover {
    background-color: #B6ABFB !important;
}

thead tr, tfoot tr, tfoot th, thead th {
    border-radius: 0.3rem;
}

tfoot tr {
    display: flex !important;
}