label {
    width: 100% !important;
}
textarea.text-desc {
    width: 100% !important; 
    max-height: 80px !important; 
    overflow-y: scroll;
}
tr {
    display: flex !important;
}
select.form-select {
    /* width: 100%; */
}
/* input-compact {

} */