label {
    width: 100% !important;
}
textarea.desc-detail {
    width: 100% !important; 
    max-height: 80px !important; 
    overflow-y: scroll;
}
/* tfoot tr {
    display: flex !important;
} */
select.form-select {
    /* width: 100%; */
}
h3.popover-header {
    color: white;
    background-color: #212529 !important;
}
/* input-compact {

} */

.container {
    padding: 50px 15px 0 !important;
}
.table {
    margin-bottom: 0% !important;
}
p {
    display: inline !important;
}
th input {
    padding: 0.2rem !important;
}
tr.filters th {
    height: 55px !important;
}
select.ms-auto {
    width: 30%;
}

i, li.page-item {
    cursor: pointer;
}
i.text-primary {
    margin: 0.5rem;
}
.popover-body a {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.15em;
}

/* Timelines - Historys */
.timeline {
    float: left;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    line-height: 2.4rem;
    overflow: hidden;
    margin-top: 0.4rem;
}
.timeline li {
    clear: both;
    overflow: hidden;
    margin-bottom: 1rem;
    padding-left: 2.3rem;
    position: relative;
}
.timeline-date {
    float: left;
    width: 8rem;
    text-align: right;
    color: #767676;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-right: 1rem;
}
.timeline-title {
    float: left;
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.4rem;
}  
.timeline li::before {
    position: absolute;
    content: " ";
    width: 1.5rem;
    height: 1.5rem;
    background-image : url('../extras/icons/timeline-circle.svg');
    background-repeat: no-repeat;
    background-size : cover;
    left: 0;
    top: 0.4rem;
}
/* Falta revisar */
/* .timeline ul::before {
    position: absolute;
    content: ' ';
    width: 0.3rem;
    height: 95%;
    background-color: #e9e9e9;
    left: 2.5rem;
    padding-bottom: 1rem;
    top: 0.7rem;
} */
.timeline li:first-child::before,
.timeline li:last-child::before {
    background-image : url('../extras/icons/start-timeline-circle.svg');
    background-repeat: no-repeat;
    background-size : cover;
}
/* @media screen and (max-width: 767px)
li .charla img {
   display: none;
} */