# Archivo .htaccess -- Ruteo

RewriteEngine on

RewriteRule ^home$ controllers/home.php

RewriteRule ^viewClients$ controllers/viewClients.php
RewriteRule ^viewProducts$ controllers/viewProducts.php

RewriteRule ^viewProduct$ controllers/viewProduct.php
RewriteRule ^viewProduct-([0-9]+)$ controllers/viewProduct.php?id=$1&viewProductDetail=true [NC,L]
RewriteRule ^viewProduct-([0-9]+)-product-changes$ controllers/viewProduct.php?id=$1&viewProductChanges=true [NC,L]
RewriteRule ^viewProduct-([0-9]+)-price-changes$ controllers/viewProduct.php?id=$1&viewPriceChanges=true [NC,L]
RewriteRule ^viewProduct-([0-9]+)-stock-changes$ controllers/viewProduct.php?id=$1&viewStockChanges=true [NC,L]

RewriteRule ^viewStock$ controllers/viewStock.php
RewriteRule ^viewSales$ controllers/viewSales.php
RewriteRule ^viewProviders$ controllers/viewProviders.php
RewriteRule ^viewBuys$ controllers/viewBuys.php

RewriteRule ^newUser$ controllers/newUser.php
RewriteRule ^newProduct$ controllers/newProduct.php
RewriteRule ^newClient$ controllers/newClient.php
# RewriteRule ^newSale$ controllers/newSale.php
RewriteRule ^newSale$ controllers/newSaleBudget.php
RewriteRule ^newBudget$ controllers/newSaleBudget.php
RewriteRule ^newSaleBudget$ controllers/newSaleBudget.php
RewriteRule ^newProvider$ controllers/newProvider.php
RewriteRule ^newBuy$ controllers/newBuy.php

RewriteRule ^closeSession$ controllers/closeSession.php

RewriteRule ^prueba$ controllers/prueba.php
